/EdgeDriverTest/obj
/EdgeDriverTest/bin
/MSUnitTestProject/bin
/MSUnitTestProject/obj
/NUnitTestProject/bin
/NUnitTestProject/obj
/WebAppWithGitHubAction/obj
/WebAppWithGitHubAction/bin
/XUnitTestProject/obj
/XUnitTestProject/bin
